<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout | Wearhouse</title>
    <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
    <h1>
        Total
    </h1>
    <div>
        <ul>
            <li>
                <p>Item 1</p>
                <p>Description 1</p>
                <p>Price 1</p>
            </li>
        </ul>
        <button>Pay with cash</button>
        <button>Pay with card</button>
    </div>
    <a>Return to Cart</a>
</body>
</html>