<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop | Wearhouse</title>
    <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
    <div>
        <div>
        <p>Category 1</p>
        <p>Category 2</p>
        <p>Category 3</p>
        <p>Category 4</p>
        </div>
        <!-- If no category was selected, show all items. 
        If a category was selected, display those category items. -->
        <div>
            <div>
                <img src="someimg.png" alt="some image">
                <p>Item 1</p>
                <p>Price 1</p>
                <p>Details 1</p>
                <button>Add to Cart</button>
            </div>
        </div>
    </div>
</body>
</html>