h1{
    margin: 0px;
}

nav{
    background-color: rgb(222, 171, 43);
    
}

body{
    background-image: url("/public/images/home background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home-banner{
    height: 100vh;
}

